@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgb(34, 32, 33);
}

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 181px;
    background-color: transparent;
    z-index: 10;
}

.logo img {
    margin: 50px 102px;
    width: 197px;
    height: 83px;
}

.nav {
    display: flex;
    gap: 75px;
    margin-right: 90px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: text-decoration 0.2s;
}

.nav a:hover {
    text-decoration: underline;
}

.hero img {
    
    height: 1080px;
    width: 908;
  }

  .contendorDescripcion {
    position: absolute;
    background-color: #1E0C06;
    height: 714px;
    width: 1245px;
    margin: 218px 0px 0 195px;
    left: 143px;
    border-radius: 43px;
    top: 0;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 2.5), 0px 0px 30px rgba(255, 255, 255, 1.1); /* Sombra detrás */
  }

  .texto h1 {
    font-size: 90px;
    font-weight: bold;
    width: 0;
    margin: 75px 573px 318px 50px;
    color: white;
  }

  .texto h2 {
    position: absolute;
    font-size: 30px;
    font-weight: mixed;
    margin: -282px 850px 218px 62px;
    color: #FFDBBB;
  }

  .texto .boton_blue {
    text-decoration: none;
    font-size: 30px;
    color: white;
    border-radius: 70px;
  }

  .botonn {
    position: absolute;
    text-align: center;
    border-radius: 42px;
    background-color: #728BAD;
    width: 225px;
    height: 58px;
    margin: -162px 0px 0px 55px;
  }

  .texto img {
    height: 508px;
    position: absolute;
    top: 68px;
    left: 598px;
  }

  .imagenes {
    width: 205px;
    height: 205px;
  }

  .imagenes .img1 {
    margin: -666px 0 0 927px;
    position: absolute;
  }

  .imagenes .img2 {
    margin: -408px 0 0 660px;
    position: absolute;
  }

  .imagenes .img3 {
    margin: -292px 0 0 903px;
    position: absolute;
  }

  .wood-section {
    padding: 50px 0;
  }

  .wood-card {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .wood-card img {
    border-radius: 10px;
    width: 205px;
    height: 205px;
    object-fit: cover;
    margin-bottom: 15px;
  }

  .wood-card h3 {
    padding: 21px 0 0;
  }

  .wood-section h1 {
    font-size: 90px;
    width: 642px;
    margin: 110px 0 0 220px;
    text-align: left;
    color: #F5F5F5;
  }

  .list-unstyled li {
    padding: 12px 0 0 78px;
    width: 329px;
    text-align: left;
    font-size: 25px;
  }
  
  .check::first-letter {
    color: #FFC099;
  }

  .carousel-title {
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
    width: 1000px;
    height: 110px;
    font-size: 60px;
    color: white;
    margin: 100px 0 0 0;
  }
  
  .carousel-inner img {
    border-radius: 50px;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(400px); 
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: #A3B8D7; 
  }